@font-face {
    font-family: THSarabun;
    src: url('../fonts/THSarabunNew/THSarabunNew.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: THSarabun;
    src: url('../fonts/THSarabunNew/THSarabunNew Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}