@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vr39tl');
  src:  url('../fonts/icomoon.eot?vr39tl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vr39tl') format('truetype'),
    url('../fonts/icomoon.woff?vr39tl') format('woff'),
    url('../fonts/icomoon.svg?vr39tl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-develop:before {
  content: "\e900";
}
.icon-develop-02:before {
  content: "\e901";
}
.icon-economic:before {
  content: "\e902";
}
.icon-other:before {
  content: "\e935";
}
.icon-other-01:before {
  content: "\e936";
}
.icon-royal:before {
  content: "\e937";
}
.icon-economic-01:before {
  content: "\e938";
}
.icon-develop-01:before {
  content: "\e939";
}
