@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gv7tjb');
  src:  url('../fonts/icomoon.eot?gv7tjb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gv7tjb') format('truetype'),
    url('../fonts/icomoon.woff?gv7tjb') format('woff'),
    url('../fonts/icomoon.svg?gv7tjb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-develop-02:before {
  content: "\e904";
}
.icon-develop:before {
  content: "\e900";
}
.icon-0-Loading-Screen-Copy-10:before {
  content: "\e901";
}
.icon-develop-05:before {
  content: "\e902";
}
.icon-economic:before {
  content: "\e903";
}
.icon-other:before {
  content: "\e935";
}
.icon-other-01:before {
  content: "\e936";
}
.icon-royal:before {
  content: "\e937";
}
.icon-economic-01:before {
  content: "\e938";
}
.icon-develop-01:before {
  content: "\e939";
}
